<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689630401502-2pl3d9kiuqbepri1lnbassisbg66osmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689630401502-2pl3d9kiuqbepri1lnbassisbg66osmt</string>
	<key>API_KEY</key>
	<string>AIzaSyBjBeTZYlku_wI7qWoIqqMNli0fpxINDOM</string>
	<key>GCM_SENDER_ID</key>
	<string>689630401502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huseyinozenalbayrak.Huseyinstagram</string>
	<key>PROJECT_ID</key>
	<string>huseyinstagram-4957d</string>
	<key>STORAGE_BUCKET</key>
	<string>huseyinstagram-4957d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689630401502:ios:3893c12a32490b345b834f</string>
</dict>
</plist>